<div class="app">
  <header class="app-header">
    <img src="\images\logo.png
    " class="app-logo" alt="logo">
    <h1>FlowPay</h1>
  </header>

  <!--Render NavBar Component-->
  <app-navbar></app-navbar>
   <div style="background-image: url(/images/pms2.webp);background-repeat: no-repeat;
  background-size: cover;">
  <section>
      <router-outlet></router-outlet> <!--Displays Child Components-->
  </section>
  </div>

  <footer class="footer">
    <p>&copy; All Right Reserved to FlowPay</p>
  </footer>

</div>